.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
}

.container section{
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

.githubIcon {
    position: absolute;
    top: 2rem;
    right: 4rem;
    opacity: .3;
    transition: .2s;
}

.githubIcon:hover {
    opacity: 1;
    transition: .2s;
}

.githubIcon > img {
    width: 2.5rem;
}